.App {
  text-align: center;
}

header {
  background-color: #041a57;
  max-height: 15vh;
  display: flex;
  flex-direction: row;
  padding: 3vh;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}

nav{
  display: flex;
  flex-direction: row;
  margin-left: 2vh;
  li{
    margin-left: 2vh;    
    list-style-type: none;    
  }
  a{
    display: inline-block;
    text-decoration: none;
    color: white;
    width: 15vh;
  }
  a:active{
    color: #287ef0;
  }
}

.translate-section{
  display: flex;
  flex-direction: column;
  margin-left: 4vh;
  button{
    width: 7vh;
  }
}

h1{
  font-size: 3.8rem;
  margin-left: 15vh;
  margin-bottom: 9vh;
}

h2{
  font-size: 2rem;
  line-height: 1;
  margin-left: 25vh;
}

.welcome{
  display: flex;
  flex-direction: row;
  justify-content: center;
  h2{
    margin: 0;
  }
  h3{
    margin: 0;
  }
}

.welcome-section{
  display: flex;
  flex-direction: column;
  width: 35vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

.project-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 18vh;
  padding-right: 18vh;
}

.card-container{
  width: fit-content;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2vh;
  background-color: #287ef0;
}

.card-image{
  max-width: 30vh;
  max-height: 30vh;
}

.card-title{
  font-size: 2rem;
}

.download-button{
  display: flex;
  width: fit-content;
  padding: 0.5vh;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: white;
  color: black;
  border: 3px solid black;
}

.download-button:hover{
  background-color: black;
  color: white;
}

.about-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section.part1{
align-items: center;
  p{
    display: flex;
    width: 80%;
    justify-content: center;
  }
}

.skills-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skill-card{
  max-width: 25vh;
}

.about-section.part3{
  flex-direction: row;
  justify-content: space-around;
}

.folding-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1vh;
}
.folding-menu .menu-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: #041a57;
  padding: 0.4vh;
  border-radius: 0.3rem;
}
.folding-menu .menu-header span {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}
.folding-menu .menu-header img {
  max-width: 2.5vh;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.folding-menu .menu-content {
  width: 100%;
  transform: translateY(-100%); /* Déplace le contenu vers le haut pour le cacher initialement */
  transition: transform 0.3s ease, height 0.3s ease; /* Transition pour un effet de glissement */
  padding: 0.5vh;
  z-index: -10;
  height: 0;
  overflow: hidden;
  background-color: #F6F6F6;
  border-radius: 0 0 0.3rem 0.3rem;
}
.folding-menu .menu-content p {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  padding: 0.2vh;
}
.folding-menu.expanded .menu-content {
  height: 100%;
  transform: translateY(0);
}
.folding-menu.expanded .menu-header img {
  transform: rotate(90deg);
}

footer{
  margin-bottom: 0;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
