.App {
  text-align: center;
}

header {
  background-color: #041a57;
  max-height: 15vh;
  display: flex;
  flex-direction: row;
  padding: 3vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav{
  display: flex;
  flex-direction: row;
  margin-left: 2vh;
  li{
    margin-left: 2vh;    
    list-style-type: none;    
  }
  a{
    text-decoration: none;
    color: white;
  }
  a:active{
    color: #287ef0;
  }
}

.translate-section{
  display: flex;
  flex-direction: column;
  margin-left: 4vh;
}

.card-container{
  max-width: 70vh;
  display: flex;
  flex-direction: row;
  margin: 2vh;
  padding: 1vh;
  background-color: #287ef0;
}

.card-image{
  max-width: 7vh;
  max-height: 7vh;
}
